<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Board Form</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
<!--    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>게시글 등록</h1>
    </div>

        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px;">작성자</th>
                <td th:with="member=${#authentication}">
                    <input id="board_writer" type="text" class="col-md-1 form-control input-sm" th:value="${member.principal.member.uid}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">제목</th>
                <td>
                    <input id="board_title" type="text" class="col-md-1 form-control input-sm" />
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">내용</th>
                <td><textarea id="board_content" class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height: 200px;"></textarea>
                    <span class="help-block"></span>
                </td>
            </tr>
        </table>


    <div class="pull-left">
        <a href="/board/list" class="btn btn-default">목록으로</a>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-primary" id="insert">저장</button>
    </div>
</div>
<br/><br/>


<!--게시 CRUD REST API 구현-->
<script>
    $('#insert').click(function () {
        var jsonData = JSON.stringify({
            title: $('#board_title').val(),
            content: $('#board_content').val(),
            writer : $('#board_writer').val()
        });
        var headers = {};
        var csrfTocken = $("meta[name='_csrf']").attr("content");
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");

        headers[csrfHeader] = csrfTocken;

        $.ajax({
            url: "http://localhost:8080/api/boards",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            headers: headers,
            dataType: "json",
            success: function () {
                alert('저장 성공!');
                location.href = '/board/list';
            },
            error: function () {
                alert('내용을 입력하셔야 합니다.');
            }
        });
    });
</script>
</body>
</html>