<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand" style="text-decoration:none;">
                <img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px" />
                <span style="vertical-align:middle;">JPA Community Web</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signout">LOGOUT</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--/header-->

<!--body-->
<div class="container">
<div class="page-header">
    <h1>게시글 목록</h1>
</div>
<div class="pull-right" style="width:100px;margin:10px 0;">
    <a href="/board" class="btn btn-primary btn-block">등록</a>
</div>
<br/><br/><br/>
<div id="mainHide">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-2">제목</th>
            <th class="col-md-5">작성자</th>
            <th class="col-md-2">작성날짜</th>
            <th class="col-md-2">수정날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="'/board?id='+${board.id}" th:text="${board.title}"></a></td>
            <td th:text="${board.member.name}"></td>
            <td th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#dates.format(board.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br/>

<!--/body-->

<!--footer-->
<footer class="footer">
    <div class="container">
        <p>Designed by Junyoung</p>
    </div>
</footer>
<!--/footer-->
</body>
</html>